config RAW_HID
    bool "Enable Raw HID"
    imply USB_DEVICE_HID

config RAW_HID_USAGE_PAGE
    hex "Raw HID Usage Page"
    default 0xFF60

config RAW_HID_USAGE
    hex "Raw HID Usage"
    default 0x61

config RAW_HID_REPORT_SIZE
    int "Raw HID Report Size"
    default 32

config RAW_HID_DEVICE
    string "Raw HID Device"
    default HID_1

config RAW_HID_SPLIT_CHANNEL
    int "Raw HID Split Relay Channel"
    default 1

choice
    prompt "Output relay length field"
    depends on RAW_HID && ZMK_SPLIT
    default RAW_HID_OUTPUT_RELAY_FIELD_PAYLOAD_LEN

config RAW_HID_OUTPUT_RELAY_FIELD_PAYLOAD_LEN
    bool "payload_len"

config RAW_HID_OUTPUT_RELAY_FIELD_PAYLOAD_SIZE
    bool "payload_size"

endchoice